<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="nab2"
            description="NameBindingLanguage2"
            language="NameBindingLanguage2"
            derivedFrom="DynamicRoot"
            validator="org.metaborg.meta.lang.nabl2.NameBindingLanguage2Validator"
            validatorClass="org.metaborg.meta.lang.nabl2.NameBindingLanguage2Validator"
      ></language>
   </extension>
   <extension
         id="org.metaborg.meta.lang.nabl2.parser"
         name="NameBindingLanguage2 Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="org.metaborg.meta.lang.nabl2.NameBindingLanguage2ParseController"
            language="NameBindingLanguage2">
      </parser>
   </extension>    
</plugin>
