
/bin
/target
/.project
/.classpath
/.settings
/.factorypath
/src/main/resources/signatures-digest.cache
/src/main/resources/specification.aterm
/src/main/resources/parsetable.tbl
/src/main/resources/logback.xml
/src/main/java/mb/statix/interpreter/generated
/src/main/java/mb/statix/interpreter/generated/terms
/src/main/java/mb/statix/interpreter/generated/terms/build
/src/main/java/mb/statix/interpreter/generated/terms/match
/src/test/java/mb/statix/interpreter/generated/test
/StatixLang.launch
/TestStatixLang.launch
/StatixLang (Core).launch
/StatixLang (Daemon).launch
/StatixLang-core
/StatixLang-server
/StatixLang-client
/StatixLang
