<configuration>
  <variable scope="context" name="contextid" value="%-15.15X{contextid:-} |"/>
  <appender
    name="stdout"
    class="ch.qos.logback.core.ConsoleAppender"
  >
    <encoder>
      <pattern>%date{HH:mm} | %-5level | ${contextid} %-30.30logger{20} - %message%n</pattern>
    </encoder>
  </appender>

  <root level="off">
    <appender-ref ref="stdout" />
  </root>

</configuration>
