<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.metaborg.spoofax.eclipse.language">
    <language esvFile="include/NameBindingLanguage.packed.esv" />
  </extension>
  
   <extension point="org.eclipse.ui.newWizards">
      <wizard
        class="org.metaborg.meta.lang.nabl.wizards.NaBLNewWizard"
        icon="icons/nabl.png"
        id="org.metaborg.meta.lang.nabl.wizards.NaBLNewWizard"
        name="Name Binding Module"
      >
        <description>Create a name binding module</description>
      </wizard>
   </extension>   
</plugin>
    