<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="nab" description="NameBindingLanguage" language="NameBindingLanguage" derivedFrom="DynamicRoot" validator="org.metaborg.meta.lang.nabl.NameBindingLanguageValidator" validatorClass="org.metaborg.meta.lang.nabl.NameBindingLanguageValidator"></language>
       </extension>
       <extension id="org.metaborg.meta.lang.nabl.parser" name="NameBindingLanguage Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="org.metaborg.meta.lang.nabl.NameBindingLanguageParseController" language="NameBindingLanguage">
          </parser>
       </extension>
       <extension
             point="org.eclipse.ui.newWizards">
          <wizard
                class="org.metaborg.meta.lang.nabl.wizards.NaBLNewWizard"
                icon="icons/nabl.png"
                id="org.metaborg.meta.lang.nabl.wizards.NaBLNewWizard"
                name="Name Binding Specification">
          </wizard>
       </extension>    
    </plugin>
