templates // namespaces

  ModuleSection.Namespaces  = <
  namespaces   
    <NamespaceDef*>
  > 
  
  NamespaceDef.NamespaceDef = 
		<<NamespaceID>
		>
  
  NamespaceRef.NamespaceRef = <<NamespaceID>>

  RestrictedNamespaceRef.Restricted = <<Restriction*> <NamespaceRef>>
  
  Restriction.Imported = <imported>
  Restriction.Multiple = <multiple>
  
lexical syntax

  NamespaceID = Id
                
templates // properties

  ModuleSection.Properties = <
  properties
    <PropertyDef*>
  >  
    
  PropertyDef.PropertyDef = <
  <PropertyID> of <NamespaceRef+; separator=", "> : <Sort>>
  
  PropertyRef.TypeProp    = <type>  
  PropertyRef.PropertyRef = <<PropertyID>>

  PropertyTerm.PropertyTerm       = <of <PropertyRef> <Term>>
  PropertyPattern.PropertyPattern = <of <PropFilter> <PropertyRef> <Term>>

  PropFilter.Equal      = <>
  PropFilter.Conformant = <conformant>
  
lexical syntax

  PropertyID = Id
  PropertyID = "type" {reject}
  
templates // binding rules
    
  ModuleSection.BindingRules = <
  binding rules
    <BindingRule*>
  >
  
  BindingRule.BindingRule = <
  <Pattern> <Constraints> : <BindingClause+>> 

templates // clauses

  BindingClause.DefClause = <
    <DefKind> defines <Unique> <NamespaceRef> <Term> <PropertyTerm*> <InDefScopes> <Constraints>
  > 
  
  DefKind.Explicit = <>
  DefKind.Implicit = <implicitly>
  
  Unique.Unique    = <>
  Unique.Unique    = <unique>
  Unique.NonUnique = <non-unique>
    
  BindingClause.ScopeClause = <
    scopes <NamespaceRef+; separator=", ">
  > 
  
  BindingClause.RefClause     = <
    <RefClausePart+; separator="otherwise">
  >
    
  RefClausePart.RefClausePart = <
  refers to <Disambiguator> <NamespaceRef> <Term> <PropertyPattern*> <InRefScope> <Constraints>>
  
  BindingClause.ImportClause = <
    <ImportClausePart+; separator="otherwise\n">
  > 
  
  ImportClausePart.SingleImport = <
  imports <Disambiguator> <NamespaceRef> <Term> <PropertyPattern*> <FromRefScope> <Alias> <IntoDefScopes> <Constraints>>             

  ImportClausePart.WildcardImport = <
  imports <RestrictedNamespaceRef+; separator=", "> <PropertyPattern*> <FromRefScope> <IntoDefScopes> <Constraints>> 
  
  Alias.None  = <>
  Alias.Alias = <as <Term>>

templates // scopes

  InDefScopes.Current   = <>
  InDefScopes           = <in <DefScopes>>   {bracket}
  
  IntoDefScopes.Current = <>
  IntoDefScopes         = <into <DefScopes>> {bracket}

  DefScopes.Current     = <current scope>
  DefScopes.DefScopes   = <<DefScope+; separator=", ">> 
  DefScope.Subsequent   = <subsequent scope>
  DefScope.DefScope     = <<Term>>
 
  InRefScope.Current    = <>
  InRefScope            = <in <RefScope>>    {bracket}
  
  FromRefScope.Current   = <>
  FromRefScope           = <from <RefScope>>  {bracket}
  
  RefScope.Current    = <current scope>
  RefScope.Enclosing  = <enclosing <NamespaceRef>>
  RefScope.Context    = <<Disambiguator> <NamespaceRef> <Term> <PropertyPattern*> <InRefScope>>
  RefScope.RefScope   = <<Term>>
  
  Disambiguator.All   = <>
  Disambiguator.Best  = <best>
  
templates // constraints

  Constraints = <> 
  Constraints = <
    where
      <Constraint+; separator="\n and">
  > {bracket}
  
  Conditions = <>
  Conditions = <
    when
      <Constraint+; separator="\n and">
  > {bracket}
  
  Constraint.PropertyConstraint = <
    <Term> has <PropertyRef> <Pattern>>
   
  Constraint.ReferenceConstraint = <
    <Term> refers to <RestrictedNamespaceRef> <Pattern> <PropertyPattern*> <InRefScope>> 
  
context-free syntax

  Id = "into" {reject}
  
templates // messages

  BindingClause.MessageClause = <
  <MessageKind> <Term> on <Term> 
  <Conditions> 
  >
  
  MessageKind.Note    = <note>
  MessageKind.Warning = <warning>
  MessageKind.Error   = <error>
  

