<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="nam" description="NamingExperiment" language="NamingExperiment" derivedFrom="DynamicRoot" validator="NamingExperiment.NamingExperimentValidator" validatorClass="NamingExperiment.NamingExperimentValidator"></language>
       </extension>
       <extension id="NamingExperiment.parser" name="NamingExperiment Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="NamingExperiment.NamingExperimentParseController" language="NamingExperiment">
          </parser>
       </extension>    
    </plugin>